body{
  background-color: dodgerblue;
}

#artOne{
  font-family: 'Courier New', Courier, monospace;
  border-color: hotpink;
  border-style: groove;
  border-width: 2px;

}

#artTwo{
  font-family: 'Times New Roman', Times, serif;
  border-color: maroon;
  border-style: solid;
  border-width: 7px;
}

#artThree{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-color: darkgreen;
  border-style: double;
  border-width: 10px;
}

article h2{
  color: goldenrod;
}

article{
  margin: 5px;
  padding: 4px;
}
